body{
    font-family: 'Lato', sans-serif;
}

:root{
    --color-form: #D9D9D9;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.form{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.form__input{
    margin-bottom: 10px;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: var(--color-form);
    border: none;
}

.form__label{
    font-size: 20px;
}

.form__button{
    width: 60%;
    padding: 10px 0px;
    font-size: 20px;
    border-radius: 10px;
    background-color: var(--color-form);
    border: none;
    margin: 0 auto;
}

.form__title{
    font-size: 30px;
    font-weight: 600;
}